/**
 * Supported Payments Display Widget Styles
 */



.suppayments-payment-display-widget {
    border: solid 2px rgb(102, 173, 69);
    background: #fff;
    margin: 5px auto;
}

.suppayments-payment-display-widget h3 {
    text-align: center;
    font-weight: 400;
    padding: 5px;
    border: solid 4px rgb(102, 173, 69);
    margin-bottom: 0;
    margin-top: -10px;
}

.suppayments-payment-display-widget img {
    border-radius: 0;
}

.suppayments-send-money,
.suppayments-till-number {
    text-align: center;
    padding: 0px;
    font-size: 25px;
    letter-spacing: 2px;
    border-left: solid rgb(102, 173, 69) 3px;
    border-bottom: solid rgb(102, 173, 69) 3px;
    border-right: solid rgb(102, 173, 69) 3px;
    color: #000;
}


.suppayments-paybill-number,
.suppayments-paybill-account {
    text-align: center;
    font-size: 25px;
    color: #000;
    letter-spacing: 2px;
    border-left: solid 3px rgb(102, 173, 69);
    border-right: solid 3px rgb(102, 173, 69);
}


.suppayments-paybill-account {
    border-bottom: solid 2px rgb(102, 173, 69);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.suppayments-paybill-number {
    border-bottom: solid 4px rgb(102, 173, 69);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.suppayments-paybill-number span {

    border-right: solid 4px rgb(102, 173, 69);
    padding: 0 3px;

}

.suppayments-paybill-account span {

    border-right: solid 4px rgb(102, 173, 69);
    padding: 0 2px;

}

.suppayments-till-number span {
    display: inline-block;
    border: 2px solid rgb(102, 173, 69);
    padding: 0px 5px;
    margin: 0;
    border-top: none;
    border-bottom: none;
}

.suppayments-till-number span:first-child {
    border-left: none;
}

.suppayments-till-number span:last-child {
    border-right: none;
}

.suppayments-send-money span {
    display: inline-block;
    border: 2px solid rgb(102, 173, 69);
    padding: 0px 3px;
    margin: 0px;
    border-top: none;
    border-bottom: none;
}

.suppayments-send-money span:first-child {
    border-left: none;
}

.suppayments-send-money span:last-child {
    border-right: none;
}